{% extends "base.html" %} 
{% block content %}

<a href="/modifyVPS?id={{ id }}"><i class="material-icons md-18">keyboard_backspace</i></a>

<p>Select Bridge Interface to attach Network Interface</p>

      <form class="form-signin">
        <input type="hidden" name="id" value="{{ id }}">
        <table>
          <tr>
            <td><label>Bridge:</label></td>
            <td><select name=bridge>
            {% for brid in bridge %}
                <option>{{ brid.1 }}</option>
            {% endfor %}
              </select>
            </td>
          </tr>
        </table>
        
        <button id="btnCreateNetwork" class="btn btn-lg btn-primary btn-block" type="button">Create</button>
      </form>
      
{% endblock %}