{% extends "base.html" %} 
{% block content %}

      <div class="container">
        <form name="createUser"  class="form-horizontal" method="POST">

          <div class="form-group row">
            <label for="inputName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-7">
              <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus onchange="return validateName()">
              <p id="valName"></p>
            </div>
          </div>



          <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 control-label">Email address</label>
            <div class="col-sm-7">
              <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus onchange="return validateEmail()">
              <p id="valEmail"></p>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
              <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required onchange="return validatePassword()">
              <p id="valPassword"></p>
            </div>
          </div>

          <div class="form-group row">
              <div class="col-sm-3"></div>
            <div class="col-sm-7">
              <button id="btnCreateUser" class="btn btn-primary " type="button">Create User</button>
            </div>
          </div>

        </form>
      </div>

      
      
{% endblock %}