{% extends "base.html" %} 
{% block content %}

{% if vpsadded == "yes" %}
        <p class="success">VPS Added Successfully</p>
{% endif %}


        <nav>
          <ul class="nav nav-pills pull-left">
                <li role="presentation"><a href="/AddVPS">Create VPS</a>
          </ul>
        </nav>

        <div class="row marketing">
        
            <div class="{{ delstatus }}">{{ message }}</div>

            {% if row %}
            <table width="100%">
                <thead>
                    <tr class="title">
                        <th width="60px">Image</th>
                        <th width="150px">Name</th>
                        <th>Description</th>
                        <th width="80px" style="text-align:center">Status</th>
                        <th width="80px" style="text-align:center">Modify</th>
                    </tr>
                </thead>

                <tbody>
                    {% for line in row %}
                    <tr class="list">
                        <td class="list">
                            {% if line.4 == 1 %}
                            <img src="../static/img/Freebsd-logo.png" height="30px">
                            {% elif line.4 == 2 %}
                            <img src="../static/img/ubuntu-logo.png" height="30px">
                            {% elif line.4 == 3 %}
                            <img src="../static/img/centos-logo.png" height="30px">
                            {% endif %}                            
                        </td>
                        <td class="list"><a href="/viewVPS?id={{ line.0 }}">{{ line.1 }}</a></td>
                        <td class="list">{{ line.2 }}</td>
                        <td class="{{ line.3 }}" align="center"><i class="material-icons md-18">power_settings_new</i></td>
                        <td class="list" align="center"><a href="/modifyVPS?id={{ line.0 }}"><i class="material-icons md-18">edit</i></a>
                        <a href="/deleteVPS?id={{ line.0 }}" onclick="return confirm('Are you sure you want to delete this server?')"><i class="material-icons md-18">delete</i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="message">No machines have been created</div>
            {% endif %}
        
        </div>

{% endblock %}