{% extends "base.html" %} 

{% block content %}
      <h1>{% if error != None %}{{error}}{% endif %}</h1>
      <div class="container">

        <form onsubmit="return checkForm(this);" class="form-horizontal">
          
          <input type="hidden" name="id" value="{{ row.0 }}">
          
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-7">
              <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" value="{{ row.1 }}" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 control-label">Email address</label>
            <div class="col-sm-7">
              <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" value="{{ row.2 }}" required>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
              <input type="password" name="newPassword" id="txtNewPassword" class="form-control" placeholder="New Password" required>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
              <input type="password" name="repPassword" id="txtConfirmPassword" class="form-control" placeholder="New Password Again" required>
            </div>
          </div>

          <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>

          <div class="clearfix visible-xs"></div>

          <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7">
              <button id="btnUpdateUser" type="submit" class="btn btn-primary">Update User</button>
            </div>
          </div>

        </form>
      </div>
    
      <script type='text/javascript'>
      $(function() {
          $("#txtConfirmPassword").keyup(function() {
              var password = $("#txtNewPassword").val();
              $("#divCheckPasswordMatch").html(password == $(this).val() ? "Passwords match." : "Passwords do not match!");
          });

      });
      </script>


{% endblock %}